body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Arial", sans-serif;
    background-color: #c0deed; /* Fondo celeste */
  }
  
  h1 {
    text-align: center; /* Centrar el texto */
    color: rgb(88, 9, 224); /* Color de letra rojo */
  }
  
  input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
  }
  
  .imagen-estilizada {
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Esquinas redondeadas */
    margin-left: 100px; 
  }
  